html, body {
  background-color: #F2E8CF;
}

.dashboard {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.days {
  width: 60%;
  height: 100%;
  // background-color: red;
}

.total-calories {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  height: 100%;
  background-color: #3b414e;
}