
.button {
  cursor:pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  &_full-width {
    width: 100%;
  }

  &_s {
    width: 64px;
  }

  &_logout-button {
    border: 1px solid black;
    height: 2rem;
  }

  &_query-button {
    height: 2rem;
    border: 2px solid black;
    // color: white;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    background-color: #d3d3d3d0;
  }

  &_auth-button {
    display: block;
    
    margin-top: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
  
    cursor: pointer;
    background-color: #ffffff;
    border: 2px solid black;
    border-radius: 1rem;
  
    height: 64px;
  }

  &_show-hide-button {
    border: 1px solid black;
    height: 2rem;
    cursor: pointer;
  }

  &_remove-button {
    border: 1px solid red;
    color: red;
    height: 2rem;
    cursor: pointer;
  }

  &:hover {
    background-color: #d3d3d3;
  }

  // &_content {
  //   width: 80%;
  //   height: 80%;
  // }
}

.icon {
  position: absolute;
  display: flex;
  align-items: center;
  height: 100%;

  &_left {
    left: 10px;
  }

  &_right {
    right: 10px;
  }
}

.pl-50 {
  padding-left: 4.5rem;
}

.pr-50 {
  padding-right: 4.5rem;
}