
.button {
  &_full {
    width: 100%;
  }

  &_auth-button {
    margin-top: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
  
    cursor: pointer;
    background-color: #ffffff;
    border: 2px solid black;
    border-radius: 1rem;
  
    height: 4rem;
  }

  &:hover {
    background-color: #d3d3d3;
  }

  // &_content {
  //   width: 80%;
  //   height: 80%;
  // }
}
